*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaWeb/WebApplication1/nbproject/private/
/JavaWeb/01EjemploServlets/nbproject/private/
/JavaWeb/01EjemploServlets/build/
/JavaWeb/02Servlet/nbproject/private/
/JavaWeb/02Servlet/build/
/JavaWeb/03ServletVehiculos/build/
/JavaWeb/03ServletVehiculos/nbproject/private/
/JavaWeb/04HolaMundoWS/nbproject/private/
/JavaWeb/04HolaMundoWS/build/
/JavaWeb/05EstadosRepublicaWS/nbproject/private/
/JavaWeb/05EstadosRepublicaWS/build/
/JavaWeb/05EstadosRepublicaWS/dist/
/JavaWeb/03ServletVehiculos_ant/nbproject/private/
/JavaWeb/06ClienteEstados/nbproject/private/
/JavaWeb/06ClienteEstados/build/
/JavaWeb/06ClienteEstado/nbproject/private/
/JavaWeb/06ClienteEstado/build/
/JavaWeb/07CorridasAutobuses/nbproject/private/
/JavaWeb/08RESTWS/nbproject/private/
/JavaWeb/08RESTWS/build/
/JavaWeb/09RESTCorridas/nbproject/private/
/JavaWeb/09RESTCorridas/build/
/JavaWeb/09RESTCorridas/dist/
/JavaWeb/07CorridasAutobuses_correcto/nbproject/private/
/JavaWeb/07CorridasAutobuses_casa/build/
/JavaWeb/07CorridasAutobuses_casa/nbproject/private/
/JavaWeb/10HolaMundoRESTEasy/target/
/JavaWeb/10HolaMundoRestEasy_ultimo/target/
/JavaScript/01Node/nbproject/private/
/JavaWeb/01HolaMundo/nbproject/private/
/JavaWeb/Recordando/nbproject/private/
/JavaWeb/03ObjetosRecordatorio/nbproject/private/
/JavaWeb/04TimeOut/nbproject/private/
/JavaWeb/05Proceso/nbproject/private/
/JavaWeb/06Export/nbproject/private/
/JavaWeb/FS/nbproject/private/
/JavaWeb/08Http/nbproject/private/
/JavaWeb/09ClienteSOAP/nbproject/private/
/JavaWeb/11RESTCorridas/nbproject/private/
/JavaWeb/12Express/nbproject/private/
/JavaWeb/13expressmysql/nbproject/private/
/JavaWeb/14Sockets/nbproject/private/
/JavaWeb/14Sockets/node_modules/
/11RestEasy_Corridas/target/